<div>

    <!-- <div>


        Validation: {{todoService.getHierarchyValidation(todo.id)}}
    </div> -->

    <table class="w3-table-all">

        <tr *ngIf="todo.dateToComplete">

            <td style="color: blueviolet; font-size: 25px;">{{todo.title}}</td>

            <td>{{todo.description}}</td>




            <td style="color: red;">{{todo.dateToComplete}}</td>



            <td>
                <i (click)="setTodoActive(todo)" class=" fa fa-edit " style="font-size:24px " title="Edit"></i>



            </td>

            <td>
                <i (click)="deleteTodo(todo) " class=" fa fa-trash-o " style="font-size:24px;color:rgb(164, 25, 37) " title="Delete"></i>





            </td>


        </tr>

    </table>

</div>
<div *ngIf="todoService.getTodoChildren(todo.id).length !=0 ">
    <h5>Sub Memo: {{todoService.getTodoChildren(todo.id).length}}</h5>
    <button class="btn btn-outline-primary " (click)="isCollapsed=! isCollapsed ">{{isCollapsed ? '+' : '-'}}</button>
    <!-- <button *ngIf="todoService.isParent(todo.id) " (click)="deleteTodoTree(todo) " class=" fa fa-trash-o " id="del" style="font-size:20px;color:rgb(164, 25, 37) "></button> -->
    <button class="btn btn-outline-primary " *ngIf=" todoService.isParent(todo.id) " (click)="deleteTodoTree(todo) ">Delete</button>





    <div [ngbCollapse]="isCollapsed ">
        <ul class="list-group ">
            <li class="list-group-item " *ngFor="let todoChild of todoService.getTodoChildren(todo.id) ">
                <app-todo-view [todo]="todoChild "></app-todo-view>
            </li>
        </ul>
    </div>
</div>



<!-- <button class="btn " (click)="setTodoActive(todo) ">Edit</button>
<button class="btn " (click)="deleteTodo(todo) ">Delete</button> -->
<!-- <button class="btn " *ngIf="todoService.isParent(todo.id) " (click)="deleteTodoTree(todo) ">Delete Tree</button> -->